<% title "Forgot Password" %>

<%= form_tag forgot_password_path do %>
  <p>
    <%= label_tag :email, "Email Address" %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>

  <p><%= submit_tag "Resend Password" %></p>
<% end %>
