<div id="navigation">
          <% if logged_in? %>
            <%= link_to "home", root_url %>
            <%= link_to "profile", :show_profile %>
            <%= link_to "log out", :logout %>
          <% end %>
</div>